{% extends 'posts/base.html' %}

{% block title %}Login{% endblock %}

{% block meta %}
    <meta name="title" content="Login">
    <meta name="description" content="login to the history bois! and complete historing hahahahha!">
{% endblock %}

{% block main %}
<div class="d-flex align-items-baseline">
    <h1>Login</h1>
    <small class="text-muted ml-4">Don't Have An Account? <a class="text-decoration-none" href="{% url 'accounts:signup' %}">Register</a></small>
</div>
<br />
<form method="POST">
    {{ form }}
    {% csrf_token %}
    <br />
    <input type="submit" value="Sign Up" class="btn btn-primary form-control" />
    <br /><br />
</form>
{% endblock %}

{% block scripts %}
<script>
    const form = [
        document.getElementById("{{ form.username.auto_id }}"),
        document.getElementById("{{ form.password.auto_id }}")
    ]

    form.forEach(field => {
        field.setAttribute('class', field.getAttribute('class') + ' form-control')
    })
</script>
{% endblock %}
