{% extends 'posts/base.html' %}

{% block title %}Login{% endblock %}

{% block main %}
<form method="POST">
    {{ form }}
    {% csrf_token %}
    <br />
    <input type="submit" value="Sign Up" class="btn btn-primary form-control" />
    <br /><br />
</form>
{% endblock %}

{% block scripts %}
<script>
    const form = [
        document.getElementById("{{ form.username.auto_id }}"),
        document.getElementById("{{ form.password.auto_id }}")
    ]

    form.forEach(field => {
        field.setAttribute('class', field.getAttribute('class') + ' form-control')
    })
</script>
{% endblock %}
