{% extends 'posts/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Timeline{% endblock %}

{% block main %}
    <h1>Welcome To HistoryBois!</h1>
    <br />
    <small class="text-muted">Powered By</small>
    <br />
    <a href="https://twitter.com/historyfbi">
        <img class="w-25 h-25" src="{% static 'posts/historybois.jpg' %}" />
    </a>
    <br />
    <br />
    {% for post in posts %}
        <div class="card">
            <div class="card-header d-flex align-items-baseline">
                <h1><a style="text-decoration: none;" href="/p/{{ post.pk }}/">{{ post.title }}</a></h1>
                <small class="text-muted ml-4">by @{{ post.author }}</small>
            </div>
            <div class="card-body">
                {{ post.post_md|safe }}
            </div>
            <div class="card-footer">
                {% if post.updated == True %}
                    updated {{ post.updated_at|naturaltime }}
                {% else %}
                    created {{ post.created_at|naturaltime }}
                {% endif %}
            </div>
        </div>
        <br />
    {% endfor %}
    <br />

{% if is_paginated %}
    <div class="btn-group mr-2" role="group" aria-label="First group">
        {% if page_obj.has_previous %}
        <a type="button" href="/?page={{ page_obj.previous_page_number }}" class="btn btn-secondary"><<</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a type="button" href="?page={{ num }}" class="btn btn-secondary">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a type="button" href="?page={{ num }}" class="btn btn-outline-secondary">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a type="button" href="/?page={{ page_obj.next_page_number }}" class="btn btn-secondary">>></a>
        {% endif %}
    </div>
{% endif %}

{% endblock %}
